name: Publish
on:
  push:
    branchs:
      - "main"

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs: 
   runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with: 
          node-version: '18'
      - run: npm install 
      - name: Create release pull request or publish
        id: changesets
        uses: changesets/action@v1
        with:
          publish: npm run build